.allProjectMindiv{
    border:1px solid #c6ecff;
    width:100%;
    height:1000px
}

.mainTableDiv{
    width:96%;
    height:650px;
    /* border:1px solid green; */
    margin: auto;
    margin-top: -40px;
    border-radius: 20px;
    background-color: white;
   boxShadow: "rgba(0, 0, 0, 0.15) 0px 5px 15px 0px" 
}


@media only screen and (max-device-width: 480px){
    .mainTableDiv{
        width:96%;
        height:auto;
        /* border:1px solid green; */
        margin: auto;
        margin-top: -40px;
        border-radius: 20px;
        /* background-color: white; */
    }
}

